.app__works {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__work-filter {
  flex-wrap: wrap;

  .app__work-filter-item {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    font-weight: 800;

    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.5rem;

    &:hover {
      background-color: var(--secondary-color);
      color: #fff;
    }

    @media screen and (max-width: 430px) {
      padding: 0.2rem 0.5rem;
    }
  }

  .item-active {
    background-color: var(--secondary-color);
    color: #fff;
  }
}

.app__work-portfolio {
  flex-wrap: wrap;
  justify-content: space-evenly;

  .app__work-item {
    width: 320px;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    margin-top: 1rem;

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    }

    @media screen and (min-width: 2000px) {
      width: 470px;
      padding: 1.25rem;
      border-radius: 0.75rem;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
      margin: 1rem;
    }
  }
}

.app__work-img {
  width: 100%;
  height: 230px;

  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    height: 350px;
  }
}

.app__work-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;

  div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

    margin: 1rem;
    font-family: var(--font-base);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;

    svg {
      width: 50%;
      height: 50%;
      color: var(--white-color);
    }
  }
}

.app__work-content {
  padding: 0.5rem;
  width: 100%;
  position: relative;
  flex-direction: column;

  h4 {
    margin-top: 1rem;
    line-height: 1.5;

    @media screen and (min-width: 2000px) {
      margin-top: 3rem;
    }
  }

  .app__work-tag {
    position: absolute;

    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #fff;
    top: -25px;
  }
}

.container {
  width: 100%;
}

.contact-card {
  position: relative;
  width: 90%;
  background: white;
  box-shadow: var(--box-shadow);
  padding: 50px;
  border-radius: 10px;
  column-gap: 50px;
  @media screen and (max-width: 1070px) {
    flex-wrap: wrap;
    width: 100%;
  }
}

.title {
  text-transform: uppercase;
  line-height: 50px;

  h4 {
    font-size: 1em;
    font-weight: 300;
    line-height: 20px;
  }
  h3 {
    font-size: 2em;
    font-weight: 400;
  }
  h2 {
    font-size: 3.2em;
    font-weight: 700;
    background: linear-gradient(
      to top,
      transparent 0%,
      var(--primary-color) 30%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.9;
  }

  @media screen and (max-width: 1070px) {
    font-size: 0.8rem;
    line-height: 50px;
  }

  @media screen and (max-width: 730px) {
    font-size: 0.6rem;
    line-height: 40px;
  }
}

.contact-btn {
  @media screen and (max-width: 1070px) {
    margin-top: 20px;
    align-self: flex-start;
  }

  @media screen and (max-width: 730px) {
    font-size: 0.8rem;
  }
}
